<div class="week-container">
    <div class="day weekend">
        <p>Sun</p>
        <% if(exerciseRoutine.sun.workouts.length) { %>
            <ul>
                <% exerciseRoutine.sun.workouts.forEach((workout)=> { %>
                    <li>
                        <%= workout %>
                    </li>
                    <% }); %>

                        <% } %>
            </ul>
    </div>

    <div class="day">
        <p>Mon</p>
        <% if(exerciseRoutine.mon.workouts.length) { %>
            <ul>
                <% exerciseRoutine.mon.workouts.forEach((workout)=> { %>
                    <li>
                        <%= workout %>
                    </li>
                    <% }); %>

                        <% } %>
            </ul>
    </div>

    <div class="day">
        <p>Tue</p>
        <% if(exerciseRoutine.tue.workouts.length) { %>
            <ul>
                <% exerciseRoutine.tue.workouts.forEach((workout)=> { %>
                    <li>
                        <%= workout %>
                    </li>
                    <% }); %>

                        <% } %>
            </ul>
    </div>

    <div class="day">
        <p>Wed</p>
        <% if(exerciseRoutine.wed.workouts.length) { %>
            <ul>
                <% exerciseRoutine.wed.workouts.forEach((workout)=> { %>
                    <li>
                        <%= workout %>
                    </li>
                    <% }); %>

                        <% } %>
            </ul>
    </div>

    <div class="day">
        <p>Thu</p>
        <% if(exerciseRoutine.thu.workouts.length) { %>
            <ul>
                <% exerciseRoutine.thu.workouts.forEach((workout)=> { %>
                    <li>
                        <%= workout %>
                    </li>
                    <% }); %>

                        <% } %>
            </ul>
    </div>

    <div class="day">
        <p>Fri</p>
        <% if(exerciseRoutine.fri.workouts.length) { %>
            <ul>
                <% exerciseRoutine.fri.workouts.forEach((workout)=> { %>
                    <li>
                        <%= workout %>
                    </li>
                    <% }); %>

                        <% } %>
            </ul>
    </div>

    <div class="day weekend">
        <p>Sat</p>
        <% if(exerciseRoutine.sat.workouts.length) { %>
            <ul>
                <% exerciseRoutine.sat.workouts.forEach((workout)=> { %>
                    <li>
                        <%= workout %>
                    </li>
                    <% }); %>

                        <% } %>
            </ul>
    </div>

</div>