<% layout('layouts/boilerplate') %>

    <body>
        <header>
            <%- include('../partials/twitter-clone-navbar') %>
        </header>
        <main>
            <div class="main-head"><a href="">Home</a></div>

            <div class="main-container">
                <form action="/portfolio/<%= `${project}` %>" method="post" class="tweet-form">
                    <div>
                        <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="profile picture">
                        <textarea name="text" id="text" placeholder="What's happening?" required></textarea>
                    </div>
                    <button class="btn">Tweet</button>
                </form>

                <% if (twitterStorage.length) { %>
                    <% twitterStorage.forEach((tweet)=> { %>
                        <div class="tweet-container">
                            <p class="user">
                                @<%= tweet.user %>
                            </p>
                            <p class="tweet">
                                <%= tweet.text %>
                            </p>
                            <form action="/portfolio/<%= `${project}` %>/<%= `${tweet.id}` %>?_method=DELETE"
                                method="post">
                                <button>Delete</button>
                            </form>
                        </div>
                        <% }); %>
                            <% } %>
            </div>


        </main>
        <footer>

        </footer>
    </body>